DB_NAME=keyboard_shop
DB_USERNAME=root
DB_PASSWORD=1234
DB_HOST=localhost
PORT=3000
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:1231,http://localhost:1232
SALT_ROUNDS=12
LOG_LEVEL=debug
ACCESS_TOKEN_SECRET=somefakevalue899961028d5266a065e2ffd21b78e131edfaaa54d3a142975d
REFRESH_TOKEN_SECRET=otherfakevalue22b54404520d811a9874fdeab3e6ab2fc016466d308d7627d